body{
    /*background-image: url("img/blog.jpg");*/
    background-color:#f4f2ee;
}
/*-----header start-----*/
header{
    background-image: url("img/Background.jpg");
}
.logo{
    margin-top:20px;
    position:absolute;
}
.navigation{
    margin-top:40px;
    padding-bottom:15px;
}
.navigation a{
    color:#FFF;
    font-weight: bold;
}
/*-----header end-----*/

/*-----content start-----*/
.description{
    margin-top:43px;
    color:grey;
}
.description h2{
    padding:10px 0;
}
.main-img{
    padding:30px 0;
}
.link-color{
    color:orange;
}
.content-border{
    border-right:1px solid lightgray;
}
.small-container{
    height:50px;
}
.button-page{
    padding-bottom:40px;
}
/*-----content end-----*/

/*-----right sidebar start-----*/
.photo-author{
    padding:25px 0;
    width:220px;
}
.recent-post{
    margin-top:40px;
}
.post-list li{
    border-bottom:1px solid lightgrey;
    padding:18px 0;
}
.post-list li:last-child{
    border:none;
}
.social-block{
    margin-top:60px;
}
/*-----right sidebar end-----*/

/*-----footer start-----*/
footer{
    background-image: url("img/Background.jpg");
    color:#FFF;
}
.footer-container{
    padding-top:60px;
    padding-bottom:140px;
}
.footer-container img{
    margin-bottom:20px;
}
.gallery-img{
    margin:0 15px;
}
.copyright{
    font-weight: bold;
    padding-top:24px;
    padding-bottom:35px;
}
/*-----footer end-----*/
